/* Styling source: https://www.gatsbyjs.org/packages/gatsby-remark-prismjs/ */

.gatsby-highlight {
  background-color: #2d2d2d;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

.gatsby-highlight pre[class*='language-'].line-numbers {
  padding: 0;
  padding-left: 2.8em;
  margin-left: 1px;
  overflow: initial;
}
