/*
   ######   ######     ###    ##       ########
  ##    ## ##    ##   ## ##   ##       ##
  ##       ##        ##   ##  ##       ##
   ######  ##       ##     ## ##       ######
        ## ##       ######### ##       ##
  ##    ## ##    ## ##     ## ##       ##
   ######   ######  ##     ## ######## ########

  http://viljamis.com/blog/2012/typography/
--------------------------------------------- */

strong,
b {
  font-weight: bold;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

i,
em,
blockquote {
  font-style: italic;
}

html,
body {
  min-height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
  font-size: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
  background: transparent;
  border: 0;
}

img,
embed,
object,
video {
  max-width: 100%;
  height: inherit;
  _width: 100%;
}

/*
  SELECTIONS
--------------------------------------------- */

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

/*
    BASE TYPOGRAPHY
  --------------------------------------------- */

body {
  margin: 0 auto;
}

.ie body {
  max-width: 32.90612em;
  _width: 32.90612em;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -moz-font-feature-settings: 'liga=1, kern=1';
  -ms-font-feature-settings: 'liga' 1, 'kern' 1;
  margin-bottom: 1.42382em;
  font-weight: normal;
}

p,
ul,
ol,
dl,
blockquote,
img {
  margin-bottom: 1.5em;
  line-height: 1.5em;
}

abbr {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  cursor: help;
}

sub,
sup {
  position: relative;
  padding: 0.125em;
  font-size: 65%;
  line-height: 0;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

blockquote {
  margin: 1.5em 0 1.5em 1.80203em;
  color: rgb(90, 90, 90);
  position: relative;
  padding: 0 0.5em;
  border-left: 0.25em solid rgb(90, 90, 90);
}

blockquote h1 {
  font-size: 2em;
}

blockquote:before {
  -webkit-font-smoothing: antialiased;
  color: rgb(140, 140, 140);
  font-size: 3.60406em;
  position: absolute;
  font-style: italic;
  content: '\201C';
  line-height: .75em;
  left: -0.75em;
  top: 0;
}

ul,
ol {
  margin-left: 1.5em;
}

ol {
  list-style-type: upper-roman;
}

h1 {
  line-height: 1.125em;
  font-size: 2em;
  padding-bottom: 0.5em;
  margin: 0.75em 0 0.125em;
  font-weight: 600;
}

.ie h1 {
  font-size: 4em;
}

h2 {
  line-height: 1.77777em;
  margin-bottom: 1em;
  font-size: 1.2em;
}

h3 {
  margin: 1.7em 0 0.85em;
  line-height: 1.5em;
  font-size: 1.3em;
}

h4 {
  line-height: 1.12382em;
  margin: 0 0 1.3em;
  font-size: 1.2em;
}

h5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5em;
  margin: 0 0 1.5em;
  font-size: 1em;
}

h6 {
  font-weight: bold;
  margin: 0 0 1.5em;
}

img {
  margin: 0.5em auto 1.5em auto;
  display: block;
}

.highlight {
  border-color: rgb(0, 0, 0);
  background: #fffccf;
  color: rgb(0, 0, 0);
  margin-top: 3em;
  padding: 0 0.2em;
}

header {
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Helvetica', 'Arial', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

body,
button,
input,
textarea {
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Helvetica', 'Arial', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

/*
    LINKS
  --------------------------------------------- */

a {
  color: #4078c0;
  text-decoration: none;
}

sup a {
  text-decoration: none;
}

a:active {
  outline: none;
}

a:active,
a:hover {
  text-decoration: underline;
}

/*
    TABLES
  --------------------------------------------- */

table {
  margin: 0 0 0.8125em;
  padding: 0;
  font-size: 1em;
  line-height: 1.625em;
  width: 100%;
  display: table;
}

thead {
  vertical-align: middle;
  border-color: inherit;
}

tr {
  vertical-align: inherit;
  border-color: inherit;
}

td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: 'tnum';
  -moz-font-feature-settings: 'tnum';
  -ms-font-feature-settings: 'tnum';
  -webkit-font-feature-settings: 'tnum';
  padding: 0.8125em 1.08333em calc(0.8125em - 1px);
}

td:first-child,
th:first-child {
  padding-left: 0;
}

/*
    PRINT STYLES
  --------------------------------------------- */

@media print {
  html {
    border: 0;
  }

  a[href]:after {
    content: ' (' attr(href) ')';
  }

  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
}
